body {
    width: 800px;
}

.container {
    width: 100%;
    border-radius: 5px;
    border: #4e4e4e solid 2px;
    background-color: #f2f2f2;
    padding: 5px;
}

.container .form-horizontal {
    background-color: #ffffff;
    height: auto;
    /* margin: 10px 10px 10px 10px; */
    padding: 20px 10px 10px 10px;
}

.col-25 {
    /* padding: 12px 12px 12px 0; */
    /* display: inline-block; */
    float: left;
    width: 25%;
}

.col-75 {
    float: left;
    padding: 1px;
    /* border: 1px solid #ccc; */
    resize: vertical;
    width: 50%;
}

.col-75 select {
    width: 75%;
    height: 30px;
}

input[type=button] {
    height: 30px;
    margin-left:-90px;
    clear: both;
}

span.required {
    color: red;
}

input[type="text"] {
    /* float: left; */
    clear: both;
}

.form-group:after {
    content: "";
    display: table;
    clear: both;
    padding-top: 5px;
}

.placeholder b {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    background-color: rgba(189, 192, 34, 0.788);
    color: rgba(119, 121, 34, 0.795);
    margin-top: 2px;
    margin-left: 5px;
    border-radius: 10%;
    cursor: pointer;
}

.section {
    margin: 20px 5px 20px 5px;
    padding: 10px;
    color: #686767;
    background-color: #f1f1f1
}